.grid {
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  border: 5px solid darkslategrey;
  border-radius: 5px;
  background: lightgrey;
  height: 75vh;
  width: 74vw;
}

.box {
  margin: 20px;
  border: 5px solid darkslategrey;
  border-radius: 5px;
  padding: 100px;
  text-align: center;
  font-size: 25px;
}

.button-grid {
  display: inline-grid;
  float: left;
  grid-gap: 5px;
  grid-template-rows: auto;
  margin: 50px;
  border: 5px solid darkslategrey;
  border-radius: 5px;
  background: lightgrey;
}

button {
  margin: 15px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}